/AstronomicalSimulation
/backend
/Brian AI Model
/Bryan Chua
/Expected outcome.docx
/Final Year Project
/flight_duration_prediction.log
/flowchart.html
/logs
/mesh_visualization.svg
/NEO-Orrery-main
/OrbitalSim
/package-lock.json
/platformer_game
/Prof John Topo Project
/pythonProject
/Roo Code Projects
/Space faculty
/static
/templates
/visualization
/VSCodeProject